@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
}

html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}

/* HEADER & NAVBAR */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    backdrop-filter: blur(50px);
    z-index: -1;
}

.nav-logo {
    font-size: 30px;
    color: #000;
    text-decoration: none;
    font-family: Permanent Marker;
}

.navbar a {
    font-size: 1.15rem;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
}

.navbar.open {
    height: auto;
}

.icons {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #000;
    cursor: pointer;
    display: none;
}

@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    .icons #close-icon {
        display: none;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: transparent;
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
    }
}

/* HERO SECTION */

.hero-section{
    height: 100vh;
    width: 100%;
    background-image: url('../img/hero_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-content{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.397);
}

.hero-title{
    font-size: 4rem;
    font-weight: bold;
    font-family: Permanent Marker;
}

.hero-subtitle{
    font-size: 2rem;
    font-weight: 700;
    font-family: Permanent Marker;
}

.cta-btn{
    text-decoration: none;
    background-color: #F5167E;
    padding: 1rem 2rem;
    border-radius: 30px;
    color: white;
    margin-top: 3%;
}

/* TOP EVENTS */

.top-events{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 4rem 0;
}

.top-events-title{
    margin-bottom: 2.7rem;
    font-size: 3rem;
}

.top-events-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.top-events-card-1{
    border-radius: 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;;
}

.top-events-card-1 img{
    width: 300px;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.event-text{
    font-size: 1.3rem;
    font-weight: 700;
}

.event-location{
    padding: 1rem 0;
    font-size: 1rem;
    font-weight: 600;
}

/* NEWSLETTER SECTION  */
.newsletter {
    background-color: #0A075F;
    padding: 4rem 0;
    color: #fff;
}
.newsletter h2, .newsletter p{
    text-align: center;
    line-height: 34px;
}
.newsletter-box {
    margin: 20px auto;
    display: table;
}
.newsletter-box i {
    background: #f7f7f7;
    width: 60px;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    color: #0A075F;
    border-right: 1px solid #ddd;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 42px;
}
.newsletter .newsletter-box button {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background: #0A075F;
    color: #fff;
    padding: 0 15px;
    font-size: 14px;
    cursor: pointer;
    border: 2px solid #fff;
    border-left: 0px;
    height: 42px;
    margin-top: 5px;
}
.emailbox{
    border: none;
    outline: none;
}
.emailbox {
    width: 0px;
    height: 42px;
    transition: 0.6s;
    font-size: 16px;
}
.newsletter-box:hover > .emailbox, .emailbox:focus{
    width: 280px;
    padding: 0 10px;
}

/* FOOTER */

footer{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.footer-list{
    display: flex;
    flex-direction: column;
}